.biru{
  background-color: blue;
  border  -color: blue;
}
.hitam{
  background-color: #000000;
  border  -color: #000000;
}

.grey{
  background-color: #636363;
  border  -color: #636363;
}

.pink{
  background-color: #FFBDBD;
  border  -color: #FFBDBD;
}

.nescafe{
  background-color: #EDCBA8;
  border  -color: #EDCBA8;
}

.green{
  background-color: #0E8265;
  border  -color: #0E8265;
}
